.aboutmain {
    background-color: #6FB6BA;
    width: 100%;
    height:  100%;
}


.mainbanner_01 {

    width: 100%;
    height: 600px;
    background-color: #a5eaee;
    margin-top: -50px;
    color: black;

}

.mainbanner_02 {

    height: 600px;

}


.imgbanne5_01 {
    width: 100%;
    height:  600px;

}