@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#headerbig {
    font-family: 'MICEGothic normal';
    font-weight: 700;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-items: stretch;
    justify-content: space-between;
    color: #89CFD3 ;
    padding: 20px;
}

#titlename {
    display: flex;
    align-self: center;
    grid-column: 5fr;
    font-size: 25px;
    position: relative;
}

#icon-hd {
    display: flex;
    grid-column:1fr;
    align-self: end;
    justify-self: end;
}

#titlename{cursor: pointer;}
#titlename:hover .highlight:after{
 
  width:100%;
}

#titlename:hover .highlight {
    color:white;
}
.highlight{
  display: inline-block; 
  position: relative;
  color:#89CFD3;
}
.highlight:after{
  content:"";
  width: 0;
  height: 30px;
  display: inline-block;
  background: #89CFD3;
  color: white;
  position: absolute;
  bottom:0;
  left:0;
  z-index:-1;
  transition: 0.35s all;
}

.e {
    font-size: 20px;
}

#icon-hd1 {
    margin-right: 10px;
    text-align: center;
}


#headerbig button {
    border: none;
}

.modalbig {
    position: relative;
    display:flex;
}

.modalup{


}

.modalpa {
    position: relative;
}

.modal {
    position:absolute;
    margin: 50px;
    width:150px;
    height:40px;
     background: #f89494;
     border-radius: 10px;
    left:auto;
    top : 15px;
    right : -20px;
  }

  .modal:after {
    border-top:0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f89494;
    content:"";
    position:absolute;
    top:-9px;
    left:90px
   }

   .modal p {
    color: white;
    font-size: 9px;
    margin: 10px;
   }

   .show-menu{
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0px;
    transition: 1s;
    background: #89CFD3;
    color: white;
    font-size: 10px;
    margin-top: 20px; }

   .show-menu::after {
    content:'';
    position: absolute;
    left: 0;
    right: -130px;
    top:-10px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top:0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #89CFD3;
   }
    
    .hide-menu{
    width: 150px;
    height: 100%;
    position: absolute;
    right: -376px;
    transition: 1s;
    }
      
 #sd-hd2 ul {
    list-style:none;
    text-align: left;
}
#sd-hd2 li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
}
#sd-hd2 span {
    font-size: 15px;
}

#sd-hd2 span::after {
    display:block;
    content: '';
    border-bottom: solid 2px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

#sd-hd2 span:hover:after { 
    color: white;
    transition: 0.35s all;
    transform: scaleX(1); }



